<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Thank you</title>
    <%- include('include/header'); -%>
  </head>

  <body>
    <nav class="p-3 text-bg-dark">
      <div class="container">
        <div
          class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
        >
          <ul
            class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
          >
            <li>
              <a
                href="/"
                class="nav-link px-2 text-secondary"
                aria-current="page"
                >Home</a
              >
            </li>
            <li><a href="/about" class="nav-link px-2 text-white">About</a></li>
            <li>
              <a href="/contact" class="nav-link px-2 text-white">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <main>
      <div
        class="container col-xxl-8 px-4 py-5 my-5 d-flex flex-column justify-content-center text-center"
      >
        <h1>Thank you for submit</h1>
        <div>
          <p class="text-xxl">
            Your name: <%= request.firstName + " " + request.lastName%>
          </p>
          <p class="text-xxl">Your email: <%= request.email %></p>
        </div>
        <h3>
          This will redirect back to homepage in
          <span id="counter">10</span> second(s)
        </h3>
      </div>
    </main>
    <%- include('include/footer'); -%>
    <script>
      let count = parseInt(document.getElementById("counter").innerHTML);
      var interval = setInterval(() => {
        document.getElementById("counter").innerHTML = --count;
        if (count <= 0) {
          clearInterval(interval);
          window.location.replace("/");
        }
      }, 1000);
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
