<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Homepage</title>
    <%- include('include/header'); -%>
  </head>

  <body>
    <nav class="p-3 text-bg-dark">
      <div class="container">
        <div
          class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
        >
          <ul
            class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
          >
            <li>
              <a
                href="/"
                class="nav-link px-2 text-secondary"
                aria-current="page"
                >Home</a
              >
            </li>
            <li><a href="/about" class="nav-link px-2 text-white">About</a></li>
            <li>
              <a href="/contact" class="nav-link px-2 text-white">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <main>
      <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img
              src="images/landing-image-1.jpg"
              class="d-block mx-lg-auto img-fluid"
              alt="People carry baby"
              width="700"
              height="500"
              loading="lazy"
            />
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
              Create Beautiful Moments That Last
            </h1>
            <p class="lead">
              We specialize in curating experiences that elevate everyday life.
              From capturing your most precious family memories to transforming
              your living space into a personal haven, our lifestyle services
              are here to help you live your best life.
            </p>
          </div>
        </div>
      </div>
      <hr class="featurette-divider" />
      <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img
              src="images/landing-image-2.jpg"
              class="d-block mx-lg-auto img-fluid"
              alt="Living room"
              width="700"
              height="500"
              loading="lazy"
            />
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
              Your Space, Your Story
            </h1>
            <p class="lead">
              Your home reflects your life. Whether it's through personalized
              photography or a complete redesign of your space, we help you tell
              your story in every detail. Let us help create the perfect
              backdrop for your life’s most important moments.
            </p>
          </div>
        </div>
      </div>
    </main>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
